#StickerPageWowPageBreak {
  overflow: hidden;
  height: 90px;
  background-image: url("../media/websiteMedia/stickerWoWBreak.png");
  background-repeat: repeat-x;
}

#projectWoWCharSearch {
  padding-top:  10px;
  padding-bottom:  10px;
  margin-top: -10px;
  height: 100%;
  background-color: #000000;
}

#projectWoWCharSearch a {
	text-decoration: none;
	color: white;
	font-size: 1.25em;
}

#WOWTitle {
  color: #b9b9b9;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 54px;
}

#WOWSlideShow {
  display: flex;  
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}

#WOWA1 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #000000;
  transition: background 1s;
  height: 805px;
  z-index: 1;
}

#WOWA1:hover {
  background: grey;
}

#WOWA2 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #000000;
  transition: background 1s;
  height: 805px;
  z-index: 1;
}

#WOWA2:hover {
  background: grey;
}

.WOWAB {
  width: 50px;
  background: #000000;
  transition: background 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 805px; 
  z-index: 1;
}

#WOWprojBodyDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

#WOWprojLink {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

#WOWprojBody {
  font-size: 1.2em;
  line-height: 1.5em;
  height: 2em;
  padding: 10px 30px;
  border-radius: 20px;
  color: #E3E3E3;
}

#WOWprojBody a {
  color: white;
}

#WOWslidesDiv {
  height: 750px;
  width: 1100px;
  position: relative;
  overflow: hidden;
}

#WOW-slides {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: -1100px;  
  transition: left 0.5s ease-out;
  height: 750px;
  overflow-y: hidden;
  z-index: 0;
}

#WOWmobileArrows {
  display: none;
}


.WOWspace {
  background: #000000;
  flex-grow: 1;
  z-index: 4;
}

#WOWthumbnails {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  z-index: 5;
}

.WOWthumbnail {
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #000000;
}

.WOWthumbnailSelected {
  border: 2px solid grey;
}

@media only screen and (max-width: 1100px) {
  #WOWprojLinkA {
    display: none;
  }

  .WOWAB {
    width: 25px;
    height: 305px; 
    z-index: 1;
    display: none;
  }
  
  #WOWmobileArrows {
    width: 90%;
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
  }
  
  #WOWmobileArrowLeft {
    width: 40%;
  }
  
  #WOWmobileArrowRight {
    width: 40%;
  }
  
  #WOWprojBodyDiv {
    height: 80px;
  }
}

@media only screen and (max-width: 380px) {
  #WOWTitle {
    font-size: 45px;
  }
  
  #WOWSlideShow {
    height: 320px;
  }
  
  #WOWA1 {
    height: 305px;
    display: none;
  }
  
  #WOWslidesDiv {
    height: 218px;
    width: 320px;
    position: relative;
  }
  
  #WOW-slides {
    height: 218px;
  }
  
  #WOWA2 {
    height: 305px;
    display: none;
  }
  
  .WOWthumbnail {
    height: 25px;
    margin-left: 0px;
    margin-right: 10px;
    z-index: 5;
  }
  
}

@media only screen and (min-width: 381px) and (max-width: 440px) {
  #WOWTitle {
    font-size: 45px;
  }
  
  #WOWSlideShow {
    height: 390px;
  }
  
  #WOWA1 {
    height: 365px;
    display: none;
  }
  
  
  #WOWslidesDiv {
    height: 283px;
    width: 400px;
    position: relative;
  }
  
  #WOW-slides {
    height: 283px;
  }
  
  #WOWA2 {
    height: 305px;
    display: none;
  }
  
  .WOWthumbnail {
    height: 25px;
    margin-left: 0px;
    margin-right: 10px;
    z-index: 5;
  }

}

@media only screen and (min-width: 441px) and (max-width: 1100px) {
  
  #WOWSlideShow {
    height: 610px;
  }
  
  #WOWA1 {
    height: 570px;
  }
  
  #WOWslidesDiv {
    height: 511px;
    width: 750px;
    position: relative;
  }
  
  #WOW-slides {
    height: 511px;
  }
  
  #WOWA2 {
    height: 511px;
  }
}
